.overlay {
  background-color: #eeeeee;
  width: 100%;
  height: 500px;
  position: relative;
}
.head {
  position: absolute;
  top: 200px;
  left: 210px;
}
.head p {
  margin-top: -30px;
}
.grid {
  padding-top: 50px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
